language.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://localhost/TQCLanguage" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://localhost/TQCLanguage">
  <xs:element name="texts">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="text" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="text">
    <xs:complexType mixed="true">
      <xs:attribute name="name" use="required" type="xs:string"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
